@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MobileStore</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">

        <link rel="stylesheet" href="~/css/core-ui.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/liem-custom-style.css" />
        <link rel="stylesheet" href="~/css/nga-custom-style.css" />
        <link rel="stylesheet" href="~/css/sinh-custom-style.css" />
        <link rel="stylesheet" href="~/css/phuong-custom-style.css" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@

        <link rel="stylesheet" href="~/css/core-ui.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden  pace-done" data-gr-c-s-loaded="true">

    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a asp-area="" asp-controller="Home" asp-action="Index" aria-atomicclass="navbar-brand"></a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">

                <a  asp-controller="ModelFromSuppliers" asp-action="Index" class="nav-link">Nhập hàng</a>
                
            </li>
            <li class="nav-item px-3">
            
                <a asp-controller="Orders" asp-action="Index" class="nav-link">Bán hàng</a>
            </li>
            @*<li class="nav-item px-3">

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                </li>
                <li class="nav-item px-3">
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                </li>*@
            @*<li class="nav-item px-3">
                    <a asp-area="" asp-controller="ApplicationUsers" asp-action="Index" class="nav-link" >Users</a>
                </li>*@
        </ul>
        @await Html.PartialAsync("_LoginPartial")



    </header>

    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-primary">NEW</span></a>
                    </li>

                    <li class="nav-title">
                        QUẢN LÝ CỬA HÀNG
                    </li>
                    <li class="nav-item ">
                       
                           
                        <a class="nav-link" asp-action="Index" asp-controller="Suppliers"><i class="icon-plane"></i> Nhà cung cấp</a>
                          

                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-action="Index" asp-controller="Customers"><i class="icon-plane"></i> Khách hàng</a>
                    </li>


                    <li class="divider"></li>

                    <li class="nav-item mt-auto">
                        <a class="nav-link nav-link-success" href="http://coreui.io/" target="_top"><i class="icon-cloud-download"></i> Download CoreUI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-danger" href="http://coreui.io/pro/" target="_top"><i class="icon-layers"></i> Try CoreUI <strong>PRO</strong></a>
                    </li>

                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <div class="main">
            <ol class="breadcrumb">

                <a class="breadcrumb-item" asp-area="" asp-action="Index" asp-controller="@ViewContext.RouteData.Values["controller"].ToString()">@ViewContext.RouteData.Values["controller"].ToString()</a>
                <a asp-area="" asp-controller="@ViewContext.RouteData.Values["controller"].ToString()" asp-action="@ViewContext.RouteData.Values["action"].ToString()" class="breadcrumb-item">@ViewContext.RouteData.Values["action"].ToString()</a>


                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a class="btn" href="#"><i class="icon-speech"></i></a>
                        <a class="btn" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                        <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                    </div>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="dynamic-content">

                        <div id="ui-view">
                            <div class="animated fadeIn">

                                @RenderBody()
                            </div>
                        </div>
                    </div>

                    @*<footer>
                            <p>&copy; 2017 - MobileStore</p>
                        </footer>*@
                </div>

            </div>
            @*<hr/>*@


        </div>
    </div>


    <environment include="Development">
        <script src="https://use.fontawesome.com/cf3e0cca39.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/tether/dist/js/tether.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/PACE/pace.js"></script>
        <script src="~/js/app.js"></script>
        <script src="~/js/main.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>
