@model PaginatedList<MobileStore.Models.Brand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-lg-12" style="margin:auto">
            <div class="card">
                <div class="card-header">Danh sách nhãn hiệu</div>
                <div class="card-body">
                    <form asp-controller="Brands" asp-action="Index" method="get" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                
                                <div class="input-group">
                                    <input class="form-control" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Tìm kiếm theo Tên"/>
                                    @*<input class="form-control" style="margin-right:10px;" type="text" name="SearchCountry" value="@ViewData["DataSearchCountry"]" placeholder="Tìm kiếm theo quốc gia"/>*@

                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </form>
                    <p>
                        <a asp-action="Create">
                            <button type="button" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp; Thêm thương hiệu</button>
                        </a>
                    </p>
                    <div class="table-striped table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model[0].Name)</a>
                                    </th>
                                    <th>
                                        <a asp-action="index" asp-route-sortorder="@ViewData["CountrySortParm"]"asp-route-currentFilter="@ViewData["CurrentFilter"]" >@Html.DisplayNameFor(model => model[0].Country)</a>
                                       
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model[0].Description)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Country)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a asp-action="Edit" asp-route-id="@item.BrandID">
                                                    <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i>&nbsp; Sửa</button>
                                                </a>
                                                <a asp-action="Details" asp-route-id="@item.BrandID">
                                                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-info"></i>&nbsp; Chi tiết</button>
                                                </a>
                                                <a asp-action="Delete" asp-route-id="@item.BrandID">
                                                    <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>&nbsp; Xóa</button>
                                                </a>
                                            </div>
                                           
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @{

                            PaginatedList<MobileStore.Models.Brand> PaginatedModel = Model as PaginatedList<MobileStore.Models.Brand>;

                            string prevDisabled = !PaginatedModel.HasPreviousPage ? "disabled" : "";

                            string nextDisabled = !PaginatedModel.HasNextPage ? "disabled" : "";




                        }
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item @prevDisabled">
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-page="@(PaginatedModel.PageIndex - 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="page-link">Previous</a>
                                </li>
                                @for (var i = 1; i <= PaginatedModel.TotalPages; i++)
                                {
                                    <li class="page-item @( @PaginatedModel.PageIndex == i ? "active" : " " )">
                                        <a asp-action="Index"
                                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                                           asp-route-page="@i"
                                           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="page-link">@(i)</a>
                                    </li>

                                }
                                <li class="page-item @nextDisabled">
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-page="@(PaginatedModel.PageIndex + 1)"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                       class="page-link">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
