@model MobileStore.Models.Model

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Bạn có chắc muốn xóa Model này?</h3>
<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên model
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Màu Sắc
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
           Mô tả
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
           Đặc điểm kỹ thuật
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Specification)
        </dd>
        <dt>
           Loại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
           Nhãn hiệu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ModelID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
