@model PaginatedList<MobileStore.Models.WarrantyDetail>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12" style="margin:auto">
        <div class="card" id="onpendtable">
            <div class="card-header">Danh sách Chi tiết Bảo Hành</div>
            @*<p>
                    <a asp-action="Create">Create New</a>
                </p>*@
            <div class="card-body">
                <form asp-controller="WarrantyDetails" asp-action="Index" method="get" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-lg-6">
                            <div class="input-group" style="position:relative">
                                <input id="filter"  class="form-control" style="margin-right:10px;" type="text" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Tìm kiếm theo ID" />
                                <table id="filtersearch" style="position:absolute; background-color:white;margin-top:40px; z-index:1">
                                    <thead>
                                    <th></th>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <span class="input-group-btn">
                                    <input type="submit" value="Search" class="btn btn-primary" />
                                </span>
                            </div>

                        </div>
                    </div>
                </form>
                <p>
                    <a asp-action="Create">
                        <button type="button" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Thêm Chi Tiết Bảo Hành</button>
                    </a>
                </p>
                <div class="table-striped table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                   Mã bảo hành
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Date)*@
                                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateStartSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Ngày</a>
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.DefectInfo)*@
                                    Thông tin lỗi
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.Status)*@
                                    Trạng thái
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem=>item.WarrantyCard.TransactionCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date.Month) / @Html.DisplayFor(modelItem => item.Date.Day)/  @Html.DisplayFor(modelItem => item.Date.Year)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DefectInfo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.WarrantyDetailID">
                                            <button type="button" class="btn btn-warning btn-sm"><i class="fa fa-pencil-square-o"></i>&nbsp; Sửa</button>
                                        </a> |
                                        <a asp-action="Details" asp-route-id="@item.WarrantyDetailID">
                                            <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-info"></i>&nbsp; Chi tiết</button>
                                        </a> |
                                        <a asp-action="Delete" asp-route-id="@item.WarrantyDetailID">
                                            <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>&nbsp; Xóa</button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @{
                        PaginatedList<MobileStore.Models.WarrantyDetail> PaginatedModel = Model as PaginatedList<MobileStore.Models.WarrantyDetail>;
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @prevDisabled">
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(PaginatedModel.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="page-link">Previous</a>
                            </li>
                            @for (var i = 1; i <= PaginatedModel.TotalPages; i++)
                            {
                                <li class="page-item @( @PaginatedModel.PageIndex == i ? "active" : " " )">
                                    <a asp-action="Index"
                                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                                       asp-route-page="@i"
                                       asp-route-currentFilter="@ViewData["CurrentFilter"]" class="page-link">@(i)</a>
                                </li>

                            }
                            <li class="page-item @nextDisabled">
                                <a asp-action="Index"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(PaginatedModel.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="page-link">Next</a>
                            </li>
                </div>

                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#onpendtable").mouseup(function () {
            $("#filtersearch").hide();
         });

    });

    function getValueForInputSearch(value) {
        $("#filter").val(value)
    };



    $("#filter").on("input", function () {
        var c = @Model.Count();

        $("#filtersearch").show();

        $.ajax({
            url: "WarrantyDetails/StorageLocations",
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            accept: 'application/json',
            success: function (data) {
                var arrtemp = [];
                var ar = data.split('","');

                //day la doan code bo  [" cho ar[0] va "] cho ar cuoi cung

                for (var i = 0; i < ar.length; i++)
                {
                    if (i == 0)
                    {
                        arrtemp.push(ar[0].substring(2, ar[0].length));

                    }
                    else if (i == ar.length - 1)
                    {
                        arrtemp.push(ar[i].substring(0, ar[i].length - 2));

                    }
                    else
                    {
                        arrtemp.push(ar[i]);

                    }

                }

                //tim ra  chuoi con voi chuoi con do duoc nhap trong truong textbox seach trong danh sach IMEI
                var arfind = [];
                for (var i = 0; i < arrtemp.length; i++)
                {
                    if (arrtemp[i].includes($("#filter").val()))
                    {

                        arfind.push(arrtemp[i]);
                    }

                }

                var rows = "";

                for (var i = 0; i < arfind.length; i++)
                {
                    
                    rows += "<tr style='padding: 10px'>"
                    rows += `<td><a href='#' onClick='return getValueForInputSearch("${arfind[i]}")'>${arfind[i]} </a></td>`
                    rows +="</tr>"

                }

                $("#filtersearch tbody").html(rows);
            },
        });
    });
   
    
        

    

</script>