@model MobileStore.Models.Order
@using MobileStore.Models
@*@using System.Collections.Generic.IEnumerable<MobileStore.Models.Supplier.SupplierStatus>*@
@*@model IEnumerable<MobileStore.Models.Supplier.SupplierStatus>*@

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class=" col-lg-8">
        <div class="card">
            <form asp-action="Create">
                <div class="card-header">
                    <strong>Thêm đơn hàng</strong>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="select">@Html.DisplayNameFor(model => model.CustomerID)</label>
                        <div class="col-md-8">
                            <select class="form-control" asp-for="CustomerID" asp-items="ViewBag.CustomerID"></select>

                        </div>
                    </div>

                 
                    

                  

                    <div class="form-group row">
                        <label asp-for="Date" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Date)</label>
                        <div class="col-md-8">
                            <input asp-for="Date" class="form-control" placeholder="Nhập @Html.DisplayNameFor(model => model.Date)...">
                            <span asp-validation-for="Date" class="invalid-feedback"></span>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label asp-for="Total" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Total)</label>
                        <div class="col-md-8">
                            <input asp-for="Total" class="form-control" placeholder="Nhập @Html.DisplayNameFor(model => model.Total)...">
                            <span asp-validation-for="Total" class="invalid-feedback"></span>
                        </div>
                    </div>



                   







                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Tạo</button>
                    @*<div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default"/>
                        </div>*@
                </div>
            </form>
        </div>
    </div>
</div>

<div>

    <a asp-action="Index"><button type="button" class="btn btn-success"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}