@model MobileStore.Models.OrderDetail

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
<div class="col-8">
    <div class="card">
        <div class="card-header">
            <strong>Thông tin chi tiết đơn hàng</strong>
        </div>
        <div class="card-body">

            <div class="form-group row">
                <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.PriceSold)</label>
                <div class="col-md-8">
                    <div class="form-control">@Model.PriceSold</div>
                </div>
            </div>

            <div class="form-group row" style="display: none;">
                <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Item.Name)</label>
                <div class="col-md-8">
                    <div class="form-control">@Model.Item.Name &nbsp;</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Item.IMEI)</label>
                <div class="col-md-8">
                    <div class="form-control">@Model.Item.IMEI</div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Item.Model.Name)</label>
                <div class="col-md-8">
                    <div class="form-control">@Model.Item.Model.Name</div>
                </div>
            </div>


        </div>
        <div class="card-footer">
            <form asp-action="DeleteOrderDetail">
                <input type="hidden" asp-for="OrderDetailID"/>
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                    Tiếp tục xóa?
                </button>
            </form>
        </div>
    </div>

    
</div>
</div>

<p>
    <a asp-action="Detail" asp-route-id="@Model.OrderID"><button type="button" class="btn btn-success"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button></a>
</p>
