@model MobileStore.Models.OrderDetailViewModels.EditOrderDetailViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class=" col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Thông tin chi tiết đơn hàng</strong>
            </div>
            <div class="card-body">
                   
                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.OrderDetail.PriceSold)</label>
                    <div class="col-md-8">
                        <div class="form-control" >@Model.OrderDetail.PriceSold</div>
                    </div>
                </div>

                <div class="form-group row" style="display: none;">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.OrderDetail.Item.Name)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.OrderDetail.Item.Name &nbsp;</div>
                    </div>
                </div>
                    
                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.OrderDetail.Item.IMEI)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.OrderDetail.Item.IMEI</div>
                    </div>
                </div>
                    
                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.OrderDetail.Item.Model.Name)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.OrderDetail.Item.Model.Name</div>
                    </div>
                </div>
                    

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <strong>Phiếu bảo hành</strong>
            </div>
            <div class="card-body">

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.WarrantyCardID)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.WarrantyCard.WarrantyCardID</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.Item.IMEI)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.WarrantyCard.Item.IMEI</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.Item.Model.Name)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.WarrantyCard.Item.Model.Name</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.StartDate)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.WarrantyCard.StartDate</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.EndDate)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.WarrantyCard.EndDate</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.NumberOfWarranty)</label>
                    <div class="col-md-8">
                        <div class="form-control">@Model.WarrantyCard.NumberOfWarranty</div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="WarrantyCards" asp-action="Detail" asp-route-id="@Model.WarrantyCard.WarrantyCardID">
                    <i class="fa fa-info-circle"></i>&nbsp; Chi tiết bảo hành
                </a>
            </div>
        </div>
       

    </div>
       
</div>

<p>
    <a asp-action="Index"><button type="button" class="btn btn-success"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button></a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
