@model MobileStore.Models.ModelFromSupplier
@using MobileStore.Models

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class=" col-lg-8">
        <div class="card">
            <form asp-controller="ModelFromSuppliers" asp-action="Edit">
                <div class="card-header">
                    <strong>Sửa thông tin đợt hàng</strong>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ModelFromSupplierID" />
                    <div class="form-group row">
                        <label asp-for="Quantity" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Quantity)</label>
                        <div class="col-md-8">
                            <input asp-for="Quantity" type="text" class="form-control" placeholder="Nhập số lượng...">
                            <span asp-validation-for="Quantity" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PriceBought" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.PriceBought)</label>
                        <div class="col-md-8">
                            <input asp-for="PriceBought" type="text" class="form-control" placeholder="Nhập giá mua...">
                            <span asp-validation-for="PriceBought" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="PriceSold" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.PriceSold)</label>
                        <div class="col-md-8">
                            <input asp-for="PriceSold" type="text" class="form-control" placeholder="Nhập giá bán...">
                            <span asp-validation-for="PriceSold" class="invalid-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="ModelID" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.ModelID)</label>
                        <div class="col-md-8">
                            <select asp-for="ModelID" class="form-control" asp-items="ViewBag.ModelID"></select>
                            @*<input asp-for="ModelFromSupplier.ModelID" type="text" class="form-control" placeholder="Nhập lọai sản phẩm...">*@
                            <span asp-validation-for="ModelID" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Period" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Period)</label>
                        <div class="col-md-8">
                            <input asp-for="Period" type="text" class="form-control" placeholder="Nhập giá bán...">
                            <span asp-validation-for="Period" class="invalid-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Sửa</button>
                    @*<div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default"/>
                        </div>*@
                </div>
            </form>
        </div>

    </div>
</div>

<div>
    <a asp-action="Edit" asp-controller="StockReceivings" asp-route-id="@Model.StockReceivingID"><button type="button" class="btn btn-success"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
