@model MobileStore.Models.WarrantyCard

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WarrantyCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.NumberOfWarranty)*@
            Số lần bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfWarranty)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            Ngày bắt đầu bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.EndDate)*@
            Ngày kết thúc bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Period)*@
            Thời lượng bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Item)*@
            Tên sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.ItemID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WarrantyCardID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
