@model MobileStore.Models.WarrantyCardViewModels.WarrantyCardViewModel
@using MobileStore.Models
@using MobileStore.Models.WarrantyCardViewModels

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class=" col-lg-8">
        <div class="card">
            <div class="card-header">
                <strong>Thông tin phiếu bảo hành</strong>
            </div>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.WarrantyCardID)</label>
                    <div class="col-md-8">
                        <div class="form-control">
                            @Model.WarrantyCard.WarrantyCardID
                        </div>
                        <span asp-validation-for="WarrantyCard.WarrantyCardID" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.StartDate)</label>
                    <div class="col-md-8">
                        <div class="form-control">
                            @Model.WarrantyCard.StartDate
                        </div>
                        <span asp-validation-for="WarrantyCard.StartDate" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.EndDate)</label>
                    <div class="col-md-8">
                        <div class="form-control">
                            @Model.WarrantyCard.EndDate
                        </div>
                        <span asp-validation-for="WarrantyCard.EndDate" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.Item.IMEI)</label>
                    <div class="col-md-8">
                        <div class="form-control">
                            @Model.WarrantyCard.Item.IMEI
                        </div>
                        <span asp-validation-for="WarrantyCard.Item.IMEI" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.Item.Name)</label>
                    <div class="col-md-8">
                        <div class="form-control">
                            @Model.WarrantyCard.Item.Name
                        </div>
                        <span asp-validation-for="WarrantyCard.Item.Name" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.Item.Model.Name)</label>
                    <div class="col-md-8">
                        <div class="form-control">
                            @Model.WarrantyCard.Item.Model.Name
                        </div>
                        <span asp-validation-for="WarrantyCard.Item.Model.Name" class="invalid-feedback"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyCard.NumberOfWarranty)</label>
                    <div class="col-md-8">
                        <div class="form-control">
                            @Model.WarrantyCard.NumberOfWarranty
                        </div>
                        <span asp-validation-for="WarrantyCard.NumberOfWarranty" class="invalid-feedback"></span>
                    </div>
                </div>




            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <a asp-action="PrintWarrantyCard" asp-route-id="@Model.WarrantyCard.WarrantyCardID" class="btn @(Model.WarrantyCard.IsPrinted ? "btn-secondary" : "btn-success")"><i class="fa fa-print"></i> @(Model.WarrantyCard.IsPrinted ? " Đã In" : " In")</a>
                    @{
                        if (Model.WarrantyCard.IsPrinted == true)
                        {
                            if (Model.CanReturn)
                            {
                                <button data-toggle="modal" data-target="#return" class="btn btn-danger"><i class="fa fa-exchange"></i> Đổi trả</button>
                                <div class="modal fade" id="return" tabindex="-1" role="dialog" aria-labelledby="return" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form asp-action="CreateReturnItem">

                                                <input asp-for="ReturnItem.OldItemID" value="@Model.WarrantyCard.ItemID" hidden />
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Thêm thông tin đổi trả</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">

                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group row">
                                                        <label asp-for="ReturnItem.DefectInfo" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.ReturnItem.DefectInfo)</label>
                                                        <div class="col-md-8">
                                                            <input asp-for="ReturnItem.DefectInfo" rows="8" class="form-control" placeholder="Nhập @Html.DisplayNameFor(model => model.ReturnItem.DefectInfo)..." />
                                                            <span asp-validation-for="ReturnItem.DefectInfo" class="invalid-feedback"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-4 form-control-label" asp-for="ReturnItem.NewItemID"></label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" asp-for="ReturnItem.NewItemID" asp-items="@(new SelectList(Model.Items, "ItemID", "IMEI"))">
                                                                <option selected="selected" value="">Chọn sản phẩm đổi</option>
                                                            </select>
                                                            <span asp-validation-for="ReturnItem.NewItemID" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Đóng</button>

                                                    <button type="submit" class="btn btn-primary"> Tạo</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            }
                            else
                            {
                                switch (Model.WarrantyCardStatus)
                                {
                                    case WarrantyCardStatus.Expired:
                                        <button type="submit" class="btn btn-danger" disabled>Hết hạn bảo hành</button>
                                        break;
                                    case WarrantyCardStatus.Returned:
                                        <button type="submit" class="btn btn-danger" disabled>Đã đổi trả</button>
                                        break;
                                    case WarrantyCardStatus.Waiting:
                                        <button type="submit" class="btn btn-success" disabled>Đang chờ bảo hành</button>
                                        break;
                                    case WarrantyCardStatus.CanWarrant:
                                        <button data-toggle="modal" data-target="#warrant" class="btn btn-warning"><i class="fa fa-pencil-square-o"></i> Bảo hành</button>
                                        <div class="modal fade" id="warrant" tabindex="-1" role="dialog" aria-labelledby="warrant" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form asp-action="CreateWarrantyDetail">
                                                        <input asp-for="WarrantyDetail.WarrantyCardID" value="@Model.WarrantyCard.WarrantyCardID" hidden />
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Thêm thông tin bảo hành</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <div class="form-group row">
                                                                <label asp-for="WarrantyDetail.DefectInfo" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyDetail.Status)</label>
                                                                <div class="col-md-8">
                                                                    <input asp-for="WarrantyDetail.DefectInfo" rows="8" class="form-control" placeholder="Nhập @Html.DisplayNameFor(model => model.WarrantyDetail.DefectInfo)..." />
                                                                    <span asp-validation-for="WarrantyDetail.DefectInfo" class="invalid-feedback"></span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label asp-for="WarrantyDetail.ExpectedDate" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.WarrantyDetail.ExpectedDate)</label>
                                                                <div class="col-md-8">
                                                                    <input asp-for="WarrantyDetail.ExpectedDate" rows="8" class="form-control" />
                                                                    <span asp-validation-for="WarrantyDetail.ExpectedDate" class="invalid-feedback"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>

                                                            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Tạo</button>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        break;

                                }

                            }
                        }

                    }

                </div>

            </div>
        </div>
        @{
            if (Model.WarrantyDetails.Count() > 0)
            {
                <div class="card">
                    <div class="card-header">
                        Chi tiết bảo hành
                    </div>
                    <div class="card-body">
                        <div class=" table-striped table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WarrantyDetails.First().Date)
                                        </th>
                                        <th>

                                            @Html.DisplayNameFor(model => model.WarrantyDetails.First().DefectInfo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WarrantyDetails.First().ExpectedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WarrantyDetails.First().WarrantyDate)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.WarrantyDetails.First().ReturnedDate)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.WarrantyDetails.First().Status)
                                        </th>

                                        <th>

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.WarrantyDetails)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DefectInfo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExpectedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WarrantyDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ReturnedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>


                                            <td>
                                                <div class="btn-group">
                                                    @{
                                                        if (item.IsPrinted == true)
                                                        {
                                                            if (item.Status == WarrantyDetailStatus.Fixing)
                                                            {
                                                                <a class="btn btn-info" asp-action="Fixed" asp-route-id="@item.WarrantyDetailID">
                                                                    <i class="fa fa-pencil-square-o"></i>&nbsp; Đã sửa xong
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                if (item.Status == WarrantyDetailStatus.Fixed)
                                                                {
                                                                    <a class="btn btn-success" asp-action="Returned" asp-route-id="@item.WarrantyDetailID">
                                                                        <i class="fa fa-info"></i>&nbsp; Đã trả khách
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <button disabled class="btn btn-secondary" >
                                                                        <i class="fa fa-info"></i>&nbsp; Hoàn thành bảo hành
                                                                    </button>
                                                                }
                                                            }
                                                        }
                                                        
                                                    }
                                                    <a asp-action="PrintWarrantyDetail" asp-route-id="@item.WarrantyDetailID" class="btn @(item.IsPrinted ? "btn-secondary" : "btn-success")" ><i class="fa fa-print"></i>@(item.IsPrinted ? " Đã In" : " In")</a>
                                                    
                                                    
                                                   
                                                </div>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }

        @{
            if (Model.ReturnItem != null)
            {
                <div class="card">
                    <div class="card-header">
                        Chi tiết đổi trả
                    </div>
                    <div class="card-body">
                        <div class=" table-striped table-responsive">
                            <table class="table">
                                <th>
                                    <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReturnItem.DefectInfo)
                                    </th>
                                    <th>

                                        @Html.DisplayNameFor(model => model.ReturnItem.NewItem.IMEI)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ReturnItem.ReturnDate)
                                    </th>
                                    <th>
                                        
                                    </th>

                                    </tr>
                                </th>
                                <tbody>

                                    <tr>
                                        <td>
                                            @Model.ReturnItem.DefectInfo
                                        </td>

                                        <td>
                                            @Model.ReturnItem.NewItem.IMEI
                                        </td>
                                        <td>
                                            @Model.ReturnItem.ReturnDate
                                        </td>
                                        <td>
                                            <a class="btn btn-success" asp-action="Detail" asp-controller="WarrantyCards" asp-route-id="@ViewBag.WarrantyCardID">
                                                <i class="fa fa-caret-right"></i> Chi tiết phiếu bảo hành
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }


    </div>
</div>

<p>
    <a asp-action="Index"><button type="button" class="btn btn-success"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button></a>
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


