@model MobileStore.Models.WarrantyCard

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>WarrantyCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.NumberOfWarranty)*@
            Mã Bảo Hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfWarranty)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            Ngày bắt đầu bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.EndDate)*@
            Ngày Kết thúc bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Period)*@
            Giai đoạn bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Item)*@
            Tên sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.ItemID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WarrantyCardID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
