@model IEnumerable<MobileStore.Models.SoldAnalytic>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="jumbotron-heading" id="Title">Thống kê hàng hóa đã bán trong tháng @ViewData["MonthText"]</h4>
                <form asp-action="Index">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <select class="form-control" id="Months" name="Months"
                                    asp-items="ViewBag.Months"
                                    onchange="this.form.submit()">
                                <option>Chọn tháng...</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="table-striped table-responsive">
                    <h6>Tổng</h6>
                    <div class="table-striped table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>SL đã bán</td>
                                    <td>Tổng giá mua</td>
                                    <td>Tổng giá bán</td>
                                    <td>Tổng giá bán thực</td>
                                    <td>Tổng chênh lệch</td>
                                    <td>Tổng doanh thu</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@ViewData["TotalNumberSold"]</td>
                                    <td>@ViewData["TotalPriceBought"]</td>
                                    <td>@ViewData["TotalPriceSold"]</td>
                                    <td>@ViewData["TotalActualPriceSold"]</td>
                                    <td>@ViewData["TotalDiffInPrice"]</td>
                                    <td>@ViewData["TotalRevenue"]</td>
                                </tr>
                            </tbody>
                        </table>

                        <h6>Chi tiết</h6>
                        <table class="table">
                            <thead>
                                <tr>
                                    @*<th>
                                        @Html.DisplayNameFor(item => item.ModelFromSupplierID)
                                    </th>*@
                                    @*<th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.Name)
                                        </a>
                                    </th>*@
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberSoldSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.NumberSold)
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceBoughtSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.PriceBought)
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSoldSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.PriceSold)
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["ActualPriceSoldParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.ActualPriceSold)
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DiffInPriceSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.DiffInPrice)
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["RevenueSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.Revenue)
                                        </a>
                                    </th>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["TotalRevenueSortParm"]" asp-route-searchString="@ViewData["CurrentFilter"]">
                                            @Html.DisplayNameFor(item => item.TotalRevenue)
                                        </a>
                                    </th>
                                    <th>
                                        <a>
                                            @Html.DisplayNameFor(item => item.SupplierName)
                                        </a>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                    {
                                        <tr>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.ModelFromSupplierID)
                                            </td>*@
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>*@
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NumberSold)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PriceBought)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PriceSold)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ActualPriceSold)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DiffInPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Revenue)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalRevenue)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SupplierName)
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
